
body {
	background-color: #fafafa;
}

body * {
	color: #000;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

h1 {
	text-align: center;
}

h2 {
	margin-bottom: 40px;
}

h3 {
	padding-top: 30px;
	padding-bottom: 30px;
}

hr {
	margin-bottom: 25px;
}

footer {
	padding-top: 60px;
	background-color: #fafafa;
}

footer p {
	margin-bottom: 35px;
}

footer ul {
	list-style: none;
	margin-bottom: 60px;
}

footer li:not(:last-child) {
	margin-bottom: 20px;
}

footer span {
	padding-left: 10px;
	font-weight: bold;
}

 .main-nav {
 	text-transform: uppercase;
 	text-align: center;
 }

 .main-nav ul {
 	list-style-type: none;
 	padding: 0;
 }

 .main-nav a {
 	display: block;
 	padding-top: 10px;
 	padding-bottom: 10px;
 	text-decoration: none;
 	background-color: #fff;
 	margin-bottom: 5px;
 	cursor: pointer;
 }

 .portfolio-wrapper {
 	background-color: #fff;

 }

 .portfolio-wrapper {
 	text-align: center;
 	padding-top: 45px;
 	padding-left: 15px;
 	padding-right: 15px;
 }

 .portfolio-item {
 	padding-bottom: 45px;
 }

 .portfolio-item:last-child {
 	padding-bottom: 65px;
 }

 .page-wrapper {
 	padding-right: 15px;
 	padding-left: 15px;
 	text-align: center;
 }

 .profile-wrapper {
 	padding-top: 40px;
 	padding-bottom: 40px;
 }

 .profile-wrapper img {
 	margin-bottom: 30px;
 	max-width: 200px;
 	display: inline-block;
 }

.text-left {
	float: left;
	display: inline;
}

.text-right {
	float: right;
}

 .to-top-link {
 	text-decoration: none;
 	text-transform: uppercase;

 }

 .clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.footer-nav {
	display: none;
}

 @media (min-width: 768px) {

 	.main-nav li {
 		display: inline;
 	}

 	.main-nav a {
 		background-color: #fafafa;
 		display: inline-block;
 		padding-right: 15px;
 		padding-left: 15px;
 	}

 	.profile-wrapper {
 		padding-right: 15px;
 		padding-left: 15px;
 	}

 	.profile-wrapper img {
 		display: inline-block;
 		float: right;
 		max-width: 40%;
 		margin-bottom: 0;
 		margin-left: 20px;
 	}

 	.portfolio-item {
 		display: inline-block;
 		max-width: 49%;
 		padding-right: 5px;
 	}

 	.portfolio-item:nth-child(odd) {
 		padding-left: 5px;
 		padding-right: 0;
 	}

 	.portfolio-item p {
 		padding-right: 40px;
 		padding-left: 40px;
 	}

 	footer p {
 		display: inline-block;
 		max-width: 520px;
 	}

 	 .to-top-link {
 	 	display: none;
 	 }

 	 .footer-nav {
 	 	display: block;
 	 	text-transform: uppercase;
 	 	float: right;
 	 }

 	 .footer-nav li {
 	 	display: inline;
 	 	padding-right: 15px;
 	 	padding-left: 15px;
 	 }

 	 .footer-nav a {
 	 	text-decoration: none;
 	 }
 }

 @media (min-width: 1024px) {

 	header h1 {
 		display: inline-block;
 		float: left;
 	}

 	.main-nav {
 		padding-top: 18px;
 		display: inline-block;
 		float: right;
 	}

 	.portfolio-wrapper {
 		padding-left: 30px;
 		padding-right: 30px;
 	}

 	.profile-wrapper img {
 		margin-left: 50px;
 	}

 	.portfolio-item {
 		max-width: 33%;
 		padding-right: 20px;
 		padding-left: 0;
 	}

 	.nav-container {
 		padding-left: 15px;
 		padding-right: 15px;
 	}
 }








